services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-api
    ports:
      - '4224:4224'
    env_file:
      - .env.example
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:18-alpine
    container_name: app-db
    ports:
      - '5432:5432'
    env_file:
      - .env.example
    volumes:
      - pgdata:/var/lib/postgresql/18/docker
    restart: unless-stopped

volumes:
  pgdata:
